
h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 48px;
  text-decoration: underline;
  text-decoration-color: #BEFFF8
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'Merriweather', serif;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-color: #BEFFF8;

  color: #444444;
}

#emptyNotes {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;

  color: #444444;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
}

.col-main {
  grid-column: 2;
}

textarea {
  /* Box Model */
  width: 100%;
  height: 28px;
  resize: none;
  overflow: hidden;
  outline: none;
  padding: 10px;
  box-sizing: border-box;

  /* Typography */
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
}

.btn {
  /* Box Model */
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: 0;
  border-radius: 3px;
  width: 150px;

  /* Typography */
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
}

#btnAdd {
  /* Box Model */
  float: right;
  margin-left: 10px;

  /* Colors */
  background-color: #BEFFF8;

  /* Others */
  cursor: pointer;
}

#btnAdd:hover {
  background-color: #87FFF2;
}

#btnAdd:active {
  background-color: #BEFFF8;
  outline: none;
}

#btnClear {
  /* Box Model */
  float: right;

  /* Colors */
  background-color: #E8E8E8;

  /* Others */
  cursor: pointer;
}

#btnClear:hover {
  background-color: #D4D4D4;
}

#btnClear:active {
  background-color: #E8E8E8;
  outline: none;
}

.note {
  /* Box Model */
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;

  /* Typography */
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
}

.green {
  background-color: #CBFFBE;
}

.red {
  background-color: #FFD1BE;
}

.blue {
  background-color: #BEEDFF;
}

.yellow {
  background-color: #FBFFBE;
}


/* Icons */

.btn-delete {
  position: relative;
}

.gg-close {
  color: red;
  position: absolute;
  top: 15px;
  left: 550px;
}

.green .gg-close { color: #34FF00; }
.red .gg-close { color: #FF4B00; }
.blue .gg-close { color: #00B8FF; }
.yellow .gg-close { color: #C3D000
  ; }